// Common z-index variables
$cm-zindex-hide: -1 !default;
$cm-zindex-base: 0 !default;
$cm-zindex-raised: 1 !default;
$cm-zindex-dropdown: 1000 !default;
$cm-zindex-sticky: 1020 !default;
$cm-zindex-fixed: 1030 !default;
$cm-zindex-modal-backdrop: 1040 !default;
$cm-zindex-modal: 1050 !default;
$cm-zindex-popover: 1060 !default;
$cm-zindex-tooltip: 1070 !default;
$cm-zindex-toast: 1080 !default;
$cm-zindex-overlay: 1090 !default;
